In [ ]:
!pip install awswrangler

In [2]:
import awswrangler as wr
import pandas as pd
import boto3

In [3]:
region = boto3.session.Session().region_name
bucket = f'beyoung-{region}-20200823'
prefix = 'geo-spatial-tutorial'

In [5]:
fp_acc = f's3://{bucket}/{prefix}/accommodations.csv'
fp_zip = f's3://{bucket}/{prefix}/zipcode.csv'
# DE.txt

In [8]:
df_acc = wr.s3.read_csv(fp_acc, sep=';')
df_acc.head()

,id,shape,name,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,7071,0101000020E6100000CE823DD286D42A40DF415D2D8645...,BrightRoom with sunny greenview!,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26
1,28268,0101000020E61000002780B1F59CF02A40D780769BB641...,Cozy Berlin Friedrichshain for1/6 p,Elena,Friedrichshain-Kreuzberg,Frankfurter Allee Sued FK,Entire home/apt,90,5,30,2017-08-02,0.33,1,55
2,42742,0101000020E6100000163B443574E12A40B0FE1CCD923F...,Spacious 35m2 in Central Apartment,Desiree,Friedrichshain-Kreuzberg,suedliche Luisenstadt,Private room,36,1,25,2018-10-01,0.32,2,217
3,57792,0101000020E610000029E507B1F7A72A40DB5F6F8D7036...,Bungalow mit Garten in Berlin Zehlendorf,Jo,Steglitz - Zehlendorf,Ostpreußendamm,Entire home/apt,49,2,3,2017-02-12,0.03,1,0
4,81081,0101000020E61000001269684E9FD42A40D3881DF25B46...,Beautiful Prenzlauer Berg Apt,Bernd+Katja :-),Pankow,Prenzlauer Berg Nord,Entire home/apt,66,3,238,2018-10-28,2.59,1,69

In [9]:
df_zip = wr.s3.read_csv(fp_zip, sep=';')
df_zip.head()

,ogc_field,wkb_geometry,gml_id,spatial_name,spatial_alias,spatial_type
0,0,0103000020E6100000010000004B010000FCF457FB51BB...,re_postleit.10115,10115,10115,Polygon
1,4,0103000020E6100000010000004B0100005CBC8B2DD6C0...,re_postleit.10117,10117,10117,Polygon
2,16,0103000020E6100000010000000A01000051D9EA6F5DCE...,re_postleit.10179,10179,10179,Polygon
3,28,0103000020E610000001000000BD000000226EDBF3B1E7...,re_postleit.10247,10247,10247,Polygon
4,36,0103000020E61000000100000070010000812F82911707...,re_postleit.10315,10315,10315,Polygon

## Writing Parquet files

In [11]:
fp_acc_parquet = f"s3://{bucket}/{prefix}/parquet/accommodations.parquet"
fp_zip_parquet = f"s3://{bucket}/{prefix}/parquet/zipcode.parquet"

wr.s3.to_parquet(df_acc, fp_acc_parquet)
wr.s3.to_parquet(df_zip, fp_zip_parquet);

In [12]:
## Reading single Parquet file
wr.s3.read_parquet(fp_acc_parquet)

,id,shape,name,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,7071,0101000020E6100000CE823DD286D42A40DF415D2D8645...,BrightRoom with sunny greenview!,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26
1,28268,0101000020E61000002780B1F59CF02A40D780769BB641...,Cozy Berlin Friedrichshain for1/6 p,Elena,Friedrichshain-Kreuzberg,Frankfurter Allee Sued FK,Entire home/apt,90,5,30,2017-08-02,0.33,1,55
2,42742,0101000020E6100000163B443574E12A40B0FE1CCD923F...,Spacious 35m2 in Central Apartment,Desiree,Friedrichshain-Kreuzberg,suedliche Luisenstadt,Private room,36,1,25,2018-10-01,0.32,2,217
3,57792,0101000020E610000029E507B1F7A72A40DB5F6F8D7036...,Bungalow mit Garten in Berlin Zehlendorf,Jo,Steglitz - Zehlendorf,Ostpreußendamm,Entire home/apt,49,2,3,2017-02-12,0.03,1,0
4,81081,0101000020E61000001269684E9FD42A40D3881DF25B46...,Beautiful Prenzlauer Berg Apt,Bernd+Katja :-),Pankow,Prenzlauer Berg Nord,Entire home/apt,66,3,238,2018-10-28,2.59,1,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22243,29800049,0101000020E610000083A934C316F12A408DF6974F8C41...,Cozy 1-room-apartment near Boxhagener Platz,Anna,Friedrichshain-Kreuzberg,Frankfurter Allee Sued FK,Entire home/apt,60,3,0,<NA>,NaN,2,4
22244,29814822,0101000020E6100000B011F546BAB22A40B58908F34B3F...,helle ruhige und zentrale Wohnung mit 2 Balkone,Maria,Tempelhof - Schoeneberg,Schoeneberg-Nord,Entire home/apt,80,2,0,<NA>,NaN,2,90
22245,29827304,0101000020E61000006B74707951E42A40E348C162B735...,Berlin Multi-unit building,Anisa,Neukoelln,Buckow,Private room,60,1,0,<NA>,NaN,1,72
22246,29848903,0101000020E61000003FA1F905FDDF2A40A3AB439C8244...,Sonnige Familienwohnung in Prenzlauer Berg,Juliane,Pankow,Prenzlauer Berg Ost,Entire home/apt,30,21,0,<NA>,NaN,1,31
22247,29864272,0101000020E6100000A6D68B98F1D22A40E6F2C3031244...,Artists loft with garden in the center of Berlin,Martin,Pankow,Prenzlauer Berg Suedwest,Entire home/apt,85,3,0,<NA>,NaN,2,15

# Checking Glue Catalog Databases

In [14]:
dbname = 'accommodations-20200923'

databases = wr.catalog.databases()
if dbname not in databases.values:
    wr.catalog.create_database(dbname)
    print(wr.catalog.databases())
else:
    print(f"Database {dbname} already exists")

                  Database                Description
0  accommodations-20200923
1         awswrangler_test             dev-pub-access
2              legislators  aws glue demo for glue df
3         redshift-spatial           redshift-spatial
4               spectrumdb                 spectrumdb

## Writing DataFrames to S3 Parquet and Glue Catalog

In [16]:
fp_glue_db = f's3://{bucket}/{prefix}/airbnb/'

In [17]:
desc = "This is my accommodations table."

param = {
    "source": "airbnb",
    "class": "e-commerce"
}

res = wr.s3.to_parquet(
    df=df_acc,
    path=fp_glue_db,
    dataset=True,
    database=dbname,
    table="accommodations",
    mode="overwrite",
    description=desc,
    parameters=param
)

In [19]:
wr.catalog.table(database=dbname, table="accommodations")

                       Column Name    Type  Partition Comment
0                               id  bigint      False
1                            shape  string      False
2                             name  string      False
3                        host_name  string      False
4              neighbourhood_group  string      False
5                    neighbourhood  string      False
6                        room_type  string      False
7                            price  bigint      False
8                   minimum_nights  bigint      False
9                number_of_reviews  bigint      False
10                     last_review  string      False
11               reviews_per_month  double      False
12  calculated_host_listings_count  bigint      False
13                availability_365  bigint      False

In [20]:
fp_glue_db_zip = f's3://{bucket}/{prefix}/zipcode/'

In [21]:
desc = "This is my zipcode table."

param = {
    "source": "EU-DE",
    "class": "e-commerce"
}

res = wr.s3.to_parquet(
    df=df_zip,
    path=fp_glue_db_zip,
    dataset=True,
    database=dbname,
    table="zipcode",
    mode="overwrite",
    description=desc,
    parameters=param
)

In [22]:
wr.catalog.table(database=dbname, table="zipcode")

     Column Name    Type  Partition Comment
0      ogc_field  bigint      False
1   wkb_geometry  string      False
2         gml_id  string      False
3   spatial_name  bigint      False
4  spatial_alias  bigint      False
5   spatial_type  string      False